body.loading {
  overflow: hidden;
  height: 100vh;
}

.loader {
  .loader-inner {
    position: relative;
    height: 100vh;
    .transition-image {
      position: absolute;
      top: 10%;
      .video-1 {
        position: absolute;
        transform-origin: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        left: 16%;
        top: 50%;
        @media (max-width: $layout-breakpoint-xsmall) {
          left: 4%;
          top: 50%;
          width: 300px;
          overflow: hidden;
        }
      }
    }
    .video-block {
      position: absolute;
      &.video-2 {
        width: 40%;
        right: 10%;
        bottom: 10%;
        @media (max-width: $layout-breakpoint-xsmall) {
          left: 4%;
          bottom: 10%;
          width: 70%;
        }
      }
      &.video-3 {
        width: 35%;
        right: 12%;
        top: 12%;
        @media (max-width: $layout-breakpoint-xsmall) {
          top: 20%;
          right: 4%;
          width: 70%;
        }
      }
      &.video-4 {
        width: 45%;
        left: 10%;
        bottom: 5%;
        @media (max-width: $layout-breakpoint-xsmall) {
          left: 25%;
          bottom: 25%;
          width: 70%;
        }
      }
      &.video-5 {
        left: 25%;
        top: 25%;
        width: 45%;
        @media (max-width: $layout-breakpoint-xsmall) {
          left: 5%;
          top: 35%;
          width: 90%;
        }
      }
      video {
        width: 100%;
        object-fit: fill;
      }
    }
  }
}
